* { 
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'Roboto Flex', sans-serif;
}

h2, h3, p, figcaption {
    margin-bottom: 1em;
    font-size: 110%;
}

/* Navegacion */

nav {
    background: #313355;
    padding: 0.5em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

nav li {
    list-style: none;
    border: black solid 1px;
    border-radius: 6px;
    padding: 0.5em;
    margin-right: 1em;
}


nav a {
    color:cornsilk; 
    text-decoration: none;
}

nav li:hover, nav li:focus {
    background:springgreen;
    color:whitesmoke;
}

/* Encabezado */

header {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    background-color:rgb(235, 174, 235);
    color:#2e2f4e;
    height: 120px;    
}

.logo {
    width: 100px;
    margin-right: 1em;
    border-radius: 50%;
}

/* Main y section */

.main-container {
    display: flex;
    flex-direction: row;
    background-color: #ece1eb;
}

.section-container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 3em;    
}

.biography {
    width: 50vw;
}

.biography figure, h3 {
    text-align: center;
}

.galery {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img {
    width: 600px;
}

/* Aside */

aside {
    background-color: #2f2f38;
    color:whitesmoke;
    width: 300px;
    padding: 1em;
    padding-bottom: 3em; 
}

aside img {
    width: 300px;
}


/* Footer */

footer {
    background-color: #313355;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
}

footer a {
    text-decoration: none;
    color: rgb(168, 192, 226);
}

footer p {
    margin: 1em;
}

/*  mobile */
@media (max-width: 600px) {

    header {
        text-align: center;
    }
    header .logo {
        margin-left: 1.5em;
        margin-right: 0px;
    }

    .main-container {
        flex-direction: column;
    }

    .section-container {
        
        padding: 1em;
    }

    .biography {
        padding-top: 2em;
        padding-bottom: 2em;
        width: fit-content;
    }

    aside {
        width: auto;
    }

    
    img {
        width: 300px;
    }

    footer {
        padding: 0.2em;
    }

    footer p {
        margin: 0.5em;
    }
}